.banner {
    display: grid;
    grid-template-columns: 2em 1fr;
    grid-template-areas: 
        "btic btic"
        ". btec";
    padding: 1em;
    border-radius: 6px;
}

.banner-title-container {
    display: grid;
    grid-area: btic;
    grid-template-columns: 2em 1fr;
    grid-template-areas: 
        "ic bti";
    align-items: center;
}

.banner-text {
    grid-area: btec;
}

.icon {
    grid-area: ic;
}

.banner p {
    margin: 0;
}

.banner-success {
    background-color: var(--banner-success-bg)
}

.banner-success-icon {
    color: var(--banner-success-icon)
}

.banner-success-title {
    color: var(--banner-success-title)
}

.banner-success-text {
    color: var(--banner-success-text)
}

.banner-warning {
    background-color: var(--banner-warning-bg)
}

.banner-warning-icon {
    color: var(--banner-warning-icon)
}

.banner-warning-title {
    color: var(--banner-warning-title)
}

.banner-warning-text {
    color: var(--banner-warning-text)
}

.banner-error {
    background-color: var(--banner-error-bg)
}

.banner-error-icon {
    color: var(--banner-error-icon)
}

.banner-error-title {
    color: var(--banner-error-title)
}

.banner-error-text {
    color: var(--banner-error-text)
}

.banner-neutral {
    background-color: var(--banner-neutral-bg)
}

.banner-neutral-icon {
    color: var(--banner-neutral-icon)
}

.banner-neutral-title {
    color: var(--banner-neutral-title)
}

.banner-neutral-text {
    color: var(--banner-neutral-text)
}
