#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  --badge-gray-bg: #F3F4F6;
  --badge-gray-txt: #1F2937;

  --badge-red-bg: #FEE2E2;
  --badge-red-txt: #991B1B;

  --badge-yellow-bg: #FEF3C7;
  --badge-yellow-txt: #92400E;

  --badge-green-bg: #D1FAE5; 
  --badge-green-txt: #065F46;

  --badge-blue-bg: #DBEAFE;
  --badge-blue-txt: #1E40AF;

  --badge-indigo-bg: #E0E7FF;
  --badge-indigo-txt: #3730A3;

  --badge-purple-bg: #EDE9FE;
  --badge-purple-txt: #5B21B6;

  --badge-pink-bg: #FCE7F3;
  --badge-pink-txt: #9D174D;

  --banner-success-bg: #ECFDF5;
  --banner-success-icon: #34D399;
  --banner-success-title: #065F46;
  --banner-success-text: #047857;

  --banner-warning-bg: #FFFBEB;
  --banner-warning-icon: #FBBF24;
  --banner-warning-title: #92400E;
  --banner-warning-text: #B45309;

  --banner-error-bg: #FEF2F2;
  --banner-error-icon: #F87171;
  --banner-error-title: #92400E;
  --banner-error-text: #B45309;

  --banner-neutral-bg: #EFF6FF;
  --banner-neutral-icon: #60A5FA;
  --banner-neutral-title: #1E40AF;
  --banner-neutral-text: #1C51B9;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
